.header {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-header);
}

.profile-photo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 10px auto;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
}

.tabs {
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  font-size: 1.2rem;
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  padding: 20px 24px;
  transition: 0.5s;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: var(--color-button-hover);
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: var(--color-text);
  color: var(--color-background-header);
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

/* Dark Mode Switch */

.switch {
  position: absolute;
  top: 27px;
  right: 37px;
  display: inline-block;
  width: 66px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-color: #f2cd44;
  box-shadow: 0 0 30px #f2cd44;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  color: #f2cd44;
  text-shadow: 1px 1px 8px #f2cd44;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid var(--color-border);
}

.slider::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  text-align: left;
  font-weight: 900;
  content: "\f186";
  color: var(--color-background);
  height: 24px;
  width: 24px;
  left: 3px;
  padding: 3px 0px 0px 8px;
  bottom: 3px;
  background-color: var(--color-border);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  line-height: 1.25;
}



@media (max-width: 600px) {
  #skills {
    flex-direction: column;
    align-items: center;
  }
  .skills-section {
    width: 95%
  }

  .switch {
    display: none;
  }
}

@media (max-width: 400px) {
  .tabs button {
    padding: 16px;
  }
  .contact-item a {
    display: none;
  }

  .project img {
    width: 300px;
  }
}
